<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

    <test name="login">
        <classes>
            <class name="LoginTest">
                <methods>
                    <include name="incorrectLogin"/>
                    <include name="correctLogin"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="blog">
        <classes>
            <class name="BlogTest">
                <methods>
                    <include name="blogTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Search">
        <classes>
            <class name="SearchTest">
                <methods>
                    <exclude name="searchTest"/>
                </methods>
            </class>
        </classes>

    </test>
</suite>